fastapi==0.115.0
uvicorn[standard]==0.30.6
gunicorn==23.0.0
# pillow==10.4.0
# numpy==1.26.4
# pywavelets==1.6.0
torch==2.8.0
torchvision==0.23.0
torchaudio==2.8.0
# opencv-python-headless==4.10.0.84
pillow>=11.0.0          # 3.13 공식 지원(10.4는 프리뷰 수준) 
numpy>=2.1.0,<3         # 3.13 지원은 2.1.0+
pywavelets>=1.7.0       # 3.13 지원
opencv-python-headless>=4.10.0.84
python-multipart
